body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 130px;
    margin-left: 55px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 40px;
    /* border: 2px solid; */
    width: 600px;
}

.user-info img {
    border-radius: 50%;
    margin-left: 95px;
    height: 90px;
    width: auto;
}

.user-info span{
    font-size: 25px;
    margin-left: 40px;

}

.logout {
    background-color: #36a573;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 75px;
    border-radius: 8px;
    cursor: pointer;
    height: 50px;
    font-size: 15px;
}
a:hover{
    color: #000000;

}


a{
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
    
}

.welcome-message {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 85px;
}
.welcome-message>p{
    width: 400px;
}

.course-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    float: left; 
}

.course-card {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 30px 20px;
    margin: 20px 0px 20px 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 2px 4px #0000001a;
}
#second-card{
    margin-right: 35px;
}

.course-card h3 {
    margin-top: 0;
    font-size: 25px;
    }

#head-part{
    font-size: 20px;
    margin-top: -22px;
    
}
strong{
    font-size: 17px;
    text-decoration: underline;
}
.course-card p{
    word-spacing: 5px;
}
.enroll-btn, .completed-btn {
    background-color: #36a573;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#first-btn{
    margin-top: 30px;
}
.completed-btn {
    background-color: #b5f5e3;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .logo{
        margin-left: -80px;
        width: 10px;
    }
    .user-info{
        margin-left: 180px;
    }
    .user-info span{
        margin-left: 10px;
        font-size: 25px;
    }
    .logout{
        margin-right: 80px;
    }
    .course-container{
        width: 100%;
        flex-wrap: wrap;
    }
}
    

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }