body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    height: 585px;
    text-align: center;
}
h1 {
    color: #333;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 4px;
    background-color: #50b3a2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.button1 {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 4px;
        background-color: #90d3c8;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
}
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.note {
    font-size: 12px;
    color: #777;
}
